{
   "change_default_shell": true,
   "target_shell": "/bin/bash",
   "set_profile_config": true,
   "set_history_config": true,
   "history_size": "10000",
   "history_file_size": "10000",
   "chrome_install": true,
   "terraform_install": true,
   "terraform_version": "1.10.5",
   "terraform_version_manager": true,
   "vscode_install": true,
   "vscode_install_packages": true,
   "vscode_packages": [
      "circleci.circleci",
      "docker.docker",
      "hashicorp.terraform",
      "ms-azure-devops.azure-pipelines",
      "ms-azuretools.vscode-azureresourcegroups",
      "ms-azuretools.vscode-azureterraform",
      "ms-azuretools.vscode-containers",
      "ms-azuretools.vscode-docker",
      "ms-python.python",
      "ms-python.debugpy",
      "ms-python.vscode-pylance"
   ],
   "sublime_install": true,
   "sublime_build": "4200",
   "homebrew_install": true,
   "slack_install": true,
   "pycharm_install": true,
   "pycharm_version": "2025.2.0.1",
   "zoom_install": true,
   "keepassxc_install": true,
   "keepassxc_version": "2.7.10",
   "docker_install": true,
   "ansible_install": true,
   "jq_install": true,
   "jq_version": "1.8.1",
   "gcloud_cli_install": true,
   "aws_cli_install": true,
   "aws_cli_sm_plugin_install": true,
   "auth0_cli_install": true,
   "kubectl_install": true,
   "kubectl_version": "stable",
   "kubectl_version_manager": true,
   "cleanup_installers": false
}
